* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* filter styles */
/* 
.filter-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25%;
  z-index: 1;
  max-width: 100%;
  max-height: 100vh;
  background-color: #4c4848;
  color: #bdbaba;
}
 */
